/* OpenStreetMap.css */

.map-container {
  position: relative;
  width: 100%;
  height: 60vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  height: 50vh; /* Adjust as needed */
  border: 1px solid #ccc;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.controls input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.controls button {
  padding: 5px 10px;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between buttons */
}

.controls button:hover {
  background-color: rgb(221, 70, 43);
}

.save_location{
  padding: 5px 10px;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;
  width: 30%;
}

@media (max-width:1050px)
{
  .map-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .map {
    width: 100%;
    height: 80vh; 
    border: 1px solid #ccc;
  }
  
  .controls {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .controls input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .controls button {
    padding: 5px 10px;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px; /* Add margin between buttons */
  }
}

@media (max-width:750px)
{
  .map-container {
    position: relative;
    width: 100%;
    height: 70vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .map {
    width: 100%;
    height: 40vh; /* Adjust as needed */
    border: 1px solid #ccc;
  } 
  .controls {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 5px;
  }
  .controls input[type="text"] {
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 23vh;
  }
  
  .controls button {
    padding: 5px 10px;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 13px;
  }
  .save_location{
    display: flex;
    justify-content: start;
    padding: 5px 10px;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
    width: 30%;
  }


}